<!DOCTYPE html>
<html>  
  <!-- set title and get the style sheet -->
  <head>
    <meta charset="utf-8">
    <!-- This is the bit that makes it scale to mobile! -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }} | {{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/webdesign.css" | base_url}}">
  </head>

  <!-- Create website header with profile pic between firt and last name -->
  <header>
    <h1>
       Akelas
       <img src="{{ "/resources/profile-cropped.jpg" | base_url }}" 
         alt="Place holder for profile photo"
         class="profile-pic">
        Maestro
    </h1>
  </header>

  <!-- Generate the list of navigation links -->
  <nav>
    <ul>
      <li><a href="{% link index.md %}">Home</a></li>
      <li><a href="{% link blog.md %}">Blog</a></li>
      <li><a href="{% link projects.md %}">Projects</a></li>
      <li><a href="{% link links.md %}">Links</a></li>
    </ul>
  </nav>

  <!-- Insert content from pages and posts -->

  <div class="post-content">
    {{ content }}
  </div>

  <!-- This is the start of the footer -->
  <footer>
   <p>
    Hosted by <a href="neocities.org">Neocities</a> <br>
    © 2026  Akelas Maestro. All Rights Reserved. <br>
    contactAkelas@proton.me
    </p>
  </footer>
 </html>
